<header class="app-header">
  <div class="header__container">
    <div class="container">
      <nav class="navbar navbar_top">
        <ul class="navbar-nav navbar__list">
          <li class="nav-item active">
            <a routerLink="/movie" class="nav-link">Movies</a>
          </li>
          <li class="nav-item">
            <a routerLink="/announce" class="nav-link">TV Shows</a>
          </li>
          <li class="nav-item">
            <a routerLink="/store" class="nav-link">People</a>
          </li>
        </ul>
      </nav>
      <div class="nav-container">
        <nav class="navbar navbar_main navbar-expand-lg">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a routerLink="" class="nav-link">
                <img
                  class="logo-img"
                  src="https://www.themoviedb.org/assets/2/v4/logos/primary-green-d70eebe18a5eb5b166d5c1ef0796715b8d1a2cbc698f96d311d62f894ae87085.svg"
                  alt="logo"
                />
              </a>
            </li>
            <li class="nav-item active">
              <a routerLink="/movie" class="nav-link">Movies</a>
            </li>
            <li class="nav-item">
              <a routerLink="/announce" class="nav-link">TV Shows</a>
            </li>
            <li class="nav-item">
              <a routerLink="/store" class="nav-link">People</a>
            </li>
          </ul>
        </nav>
        <nav class="navbar navbar_main navbar-expand-lg">
          <ul class="navbar-nav">
            <li *ngIf="!auth.token" class="nav-item active">
              <a routerLink="/login" class="nav-link">Login</a>
            </li>
            <li class="nav-item">
              <a routerLink="/announce" class="nav-link">Sign Up</a>
            </li>
            <li *ngIf="auth.token"  class="nav-item nav-item_personal">
              <a routerLink="/personal" class="nav-link nav-link_personal">u</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="header-search">
    <div class="container">
      <app-search></app-search>
    </div>
  </div>
</header>
