<div class="movie-item">
  <div class="movie-item__img-wrapper">
    <a routerLink="/cinema" class="movie-item__img-link">
      <img src="" alt="" class="movie-item__img-wrapper" />
    </a>
  </div>

  <div class="movie-item__info">
    <div class="movie-item__header">
      <div class="rating movie-item__rating"></div>
      <div class="movie-item__title-wrapper">
        <a routerLink="/cinema" class="movie-item__title">Joker</a>
        <span class="movie-item__date">October 4, 2019</span>
      </div>
    </div>
    <div class="movie-item__body">
      During the 1980s, a failed stand-up comedian is driven insane and turns to
      a life of crime and chaos in Gotham City while becoming an infamous
      psychopathic crime figure.
    </div>
    <div class="movie-item__footer">
      <a routerLink="/cinema" class="movie-item__link">More Info</a>
    </div>
  </div>
</div>
