<div class="movie-item">
  <div class="movie-item__img-wrapper">
    <a [routerLink]="'/movie/' + movieItem.id" class="movie-item__img-link">
      <img
        [src]="'https://image.tmdb.org/t/p/w185_and_h278_bestv2/' + movieItem.poster_path"
        alt=""
        class="movie-item__img-wrapper"
      />
    </a>
  </div>

  <div class="movie-item__info">
    <div class="movie-item__header">
      <div class="rating movie-item__rating">
        <span>{{ movieItem.vote_average * 10 }}</span>
      </div>
      <div class="movie-item__title-wrapper">
        <a [routerLink]="'/movie/' + movieItem.id" class="movie-item__title">{{
          movieItem.title
        }}</a>
        <span class="movie-item__date"> {{ releaseDate() | date: 'longDate' }}</span>
      </div>
    </div>
    <div class="movie-item__body">
      <span>{{
        movieItem.overview.length > 250
          ? (movieItem.overview | slice: 0:250) + '..'
          : movieItem.overview
      }}</span>
    </div>
    <div class="movie-item__footer">
      <a [routerLink]="'/movie/' + movieItem.id" class="movie-item__link">More Info</a>
    </div>
  </div>
</div>
