<section class="cinema">
  <div class="container">
    <div class="cinema__header">
      <h1>Popular movies</h1>
      <div class="filters"></div>
    </div>
    <button class="btn btn-primary" (click)="this.test()">qwe</button>

    <div class="row">
      <!-- <div class="col-md-6" *ngFor="let movie of movies$">
        <app-movie-item></app-movie-item>
      </div> -->
      <div class="col-md-6" *ngFor="let item of movies$ | async">
        <app-movie-item></app-movie-item>
      </div>
      <div class="col-md-6">
        <app-movie-item></app-movie-item>
      </div>
      <div class="col-md-6">
        <app-movie-item></app-movie-item>
      </div>
    </div>
  </div>
</section>